
/* hoverd board  */

.hoverd_board {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hoverd_board .board{
  width: 400px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
.hoverd_board .board .squer{
  background: #1d1d1d;
  width: 20px;
  height: 20px;
  transition: 0.6s ease-in;
  box-shadow: rgb(0, 0, 0) 0px 0px 2px;
}
.hoverd_board .board .squer:hover{
  transition-duration: 0ms;
}

